@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Next.js icon deleting */
nextjs-portal,
#nextjs-static-indicator-root,
[data-nextjs-toast-wrapper] {
  display: none !important;
  visibility: hidden !important;
  pointer-events: none !important;
}
